In [3]:
pip install pyspark

Requirement already satisfied: pyspark in c:\users\offic\anaconda3\lib\site-packages (4.0.0)
Requirement already satisfied: py4j==0.10.9.9 in c:\users\offic\anaconda3\lib\site-packages (from pyspark) (0.10.9.9)
Note: you may need to restart the kernel to use updated packages.

In [5]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("Taxi Trip Data Analysis") \
    .getOrCreate()

In [11]:
# Load your dataset from the specified path
df = spark.read.option("header", "true").csv("ELiteTEch_Intern/taxi_tripdata.csv")
df.show(10)

+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|VendorID|lpep_pickup_datetime|lpep_dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|ehail_fee|improvement_surcharge|total_amount|payment_type|trip_type|congestion_surcharge|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|       1| 2021-07-01 00:30:52|  2021-07-01 00:35:36|                 N|         1|          74|         168|              1|         1.20|          6|  0.5|    0.5|         0|           0|     NULL|                  0.3|         7.3|           2|        1|                   0|
|       2| 2021-07-01 00:25:36|  2021-07-01 01:01:31|                 N|         1|         116|         265|              2|        13.69|         42|  0.5|    0.5|         0|           0|     NULL|                  0.3|        43.3|           2|        1|                   0|
|       2| 2021-07-01 00:05:58|  2021-07-01 00:12:00|                 N|         1|          97|          33|              1|          .95|        6.5|  0.5|    0.5|      2.34|           0|     NULL|                  0.3|       10.14|           1|        1|                   0|
|       2| 2021-07-01 00:41:40|  2021-07-01 00:47:23|                 N|         1|          74|          42|              1|         1.24|        6.5|  0.5|    0.5|         0|           0|     NULL|                  0.3|         7.8|           2|        1|                   0|
|       2| 2021-07-01 00:51:32|  2021-07-01 00:58:46|                 N|         1|          42|         244|              1|         1.10|          7|  0.5|    0.5|         0|           0|     NULL|                  0.3|         8.3|           2|        1|                   0|
|       1| 2021-07-01 00:05:00|  2021-07-01 00:11:50|                 N|         1|          24|         239|              1|         1.90|          8| 3.25|    0.5|         3|           0|     NULL|                  0.3|       15.05|           1|        1|                2.75|
|       2| 2021-07-01 00:57:14|  2021-07-01 01:27:43|                 N|         1|          75|         243|              1|          .00|       17.5|  0.5|    0.5|         0|           0|     NULL|                  0.3|        18.8|           2|        1|                   0|
|       2| 2021-07-01 00:27:36|  2021-07-01 00:32:35|                 N|         1|          82|          82|              1|          .66|          5|  0.5|    0.5|         0|           0|     NULL|                  0.3|         6.3|           2|        1|                   0|
|       2| 2021-07-01 00:29:09|  2021-07-01 00:34:18|                 N|         1|          74|          42|              1|         1.72|          7|  0.5|    0.5|      2.08|           0|     NULL|                  0.3|       10.38|           1|        1|                   0|
|       2| 2021-07-01 00:41:33|  2021-07-01 00:49:24|                 N|         1|          41|          42|              1|         1.37|        7.5|  0.5|    0.5|         0|           0|     NULL|                  0.3|         8.8|           2|        1|                   0|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
only showing top 10 rows

In [37]:
df.columns

['VendorID',
 'lpep_pickup_datetime',
 'lpep_dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'ehail_fee',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge']

In [15]:
df.orderBy(col("trip_distance").desc()).show(5)

+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|VendorID|lpep_pickup_datetime|lpep_dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|ehail_fee|improvement_surcharge|total_amount|payment_type|trip_type|congestion_surcharge|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|    NULL| 2021-07-19 05:15:00|  2021-07-19 05:29:00|              NULL|      NULL|         108|         150|           NULL|     99762.26|      17.69| 2.75|      0|         0|           0|     NULL|                  0.3|       20.74|        NULL|     NULL|                NULL|
|    NULL| 2021-07-04 06:29:00|  2021-07-04 06:40:00|              NULL|      NULL|         244|         151|           NULL|     99564.83|      18.78|    0|      0|      3.18|           0|     NULL|                  0.3|       22.26|        NULL|     NULL|                NULL|
|    NULL| 2021-07-02 13:29:00|  2021-07-02 13:45:00|              NULL|      NULL|         127|         244|           NULL|     99472.41|      11.19|    0|      0|         1|           0|     NULL|                  0.3|       12.49|        NULL|     NULL|                NULL|
|    NULL| 2021-07-16 08:25:00|  2021-07-16 09:04:00|              NULL|      NULL|          80|         140|           NULL|     98282.77|      27.92| 2.75|      0|         0|           0|     NULL|                  0.3|       30.97|        NULL|     NULL|                NULL|
|    NULL| 2021-07-15 07:42:00|  2021-07-15 07:52:00|              NULL|      NULL|         223|           7|           NULL|     98157.87|      16.83| 2.75|      0|         0|           0|     NULL|                  0.3|       19.88|        NULL|     NULL|                NULL|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
only showing top 5 rows

In [17]:
df.select("fare_amount").describe().show()

+-------+------------------+
|summary|       fare_amount|
+-------+------------------+
|  count|             83691|
|   mean| 20.38830459667026|
| stddev|15.583552357872819|
|    min|                -1|
|    max|              99.5|
+-------+------------------+

In [19]:
df.groupBy("payment_type").count().show()

+------------+-----+
|payment_type|count|
+------------+-----+
|           3|  307|
|           5|    1|
|           1|29990|
|           4|   44|
|           2|20831|
|        NULL|32518|
+------------+-----+

In [51]:
from pyspark.sql.functions import hour, col

# Replace "pickup_datetime" with the actual column name if it's different
df = df.withColumn("lpep_pickup_datetime", hour(col("lpep_pickup_datetime")))
df.groupBy("lpep_pickup_datetime").count().orderBy("lpep_pickup_datetime").show()

+--------------------+-----+
|lpep_pickup_datetime|count|
+--------------------+-----+
|                   0| 1030|
|                   1|  642|
|                   2|  431|
|                   3|  363|
|                   4|  501|
|                   5|  950|
|                   6| 1935|
|                   7| 3358|
|                   8| 5030|
|                   9| 5798|
|                  10| 6096|
|                  11| 6092|
|                  12| 5766|
|                  13| 5534|
|                  14| 5626|
|                  15| 5744|
|                  16| 5280|
|                  17| 5166|
|                  18| 5183|
|                  19| 4268|
+--------------------+-----+
only showing top 20 rows

In [53]:
from pyspark.sql.functions import col

df = df.withColumn("trip_distance", col("trip_distance").cast("float")) \
       .withColumn("fare_amount", col("fare_amount").cast("float"))
filtered_df = df.filter(col("trip_distance").isNotNull() & col("fare_amount").isNotNull())
correlation = filtered_df.stat.corr("trip_distance", "fare_amount")
print(f"Correlation between trip_distance and fare_amount: {correlation:.2f}")

Correlation between trip_distance and fare_amount: 0.03